/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Author: Navkaran Singh Sohi
Student Id : 0824630
Copyright: 2023 - All rights reserved

/**********************************************************************
**********************************************************************

==================
Table of Contents
==================
1. HTML Body Styles
2. Heading Styles
3. Main Body Styles
4. Footer Styles
5. Nav Styles

**********************************************************************
**********************************************************************/


/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

header, main {
    margin: auto;
}

body {
    min-height: 100vh;
}

/**********************
2. Heading Styles
**********************/

h1 {
    text-align: center;
    font-size: 3em;
    padding: 5px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 7px 0px;
}

/**********************
3. Main Body Styles
**********************/
section, ul, li{
    color: black;
}

img{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
}

main {
    max-width: 980px;
}

p {
    font-size: 16px;
}

/**********************
4. Footer Styles
**********************/

footer {
    margin-top: auto;
    text-align: center;
    font-size: 3em;
    padding: 15px 0px;
}

